TELEGRAM_BOT_TOKEN=8778803309:AAEIXke-BU1uHAboRwKvHYzdy6FpLP4HQMg
SESSION_SECRET=a5ri0ykSRDqwEpL5HVKCUJebjjmkm15wvEwEFtgQcxo=
ADMIN_TELEGRAM_ID=5741539104
PANEL_URL=https://panel.kimiaxe.com
FIREBASE_API_KEY=AIzaSyCfshhdQYfhB1nGB74Yaqresr7yGQ57ZcQ
FIREBASE_DB_URL=https://yellowstone-7a62e-default-rtdb.firebaseio.com
